<h1>See here a list of all inventory items</h1>


<table>
  <thead>
    <tr>
      <th>Id number</th>
      <th>Category</th>
      <th>Current location</th>
      <th colspan="7"></th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.category %></td>
        <td><%= item.warehouse.location %></td>
        <td> <%= link_to "View",
            item_path(item) %> </td>
        <td> <%= link_to "Edit",
            edit_item_path(item) %> </td>
        <td> <%= link_to "Delete",
            item_path(item),
            method: :delete,
            data: { confirm: "Are you sure?" } %> </td>
      <tr>
    <% end %>
  </tbody>
</table>

<%= link_to  "Home", root_path, class: "btn btn-secondary mt-3"  %>
