<h1>Warehouse</h1>

<br>
<p> Id number: <%= @warehouse.id %></p>
<p> Location: <%= @warehouse.location %></p>

  <h2>Items in stock</h2>
  <% @warehouse.items.each do |item| %>
    <p>Id number <%= item.id %></p>
    <p>Category: <%= item.category %></p>
  <% end %>

<%= link_to  "Back to warehouses index", warehouses_path, class: "btn btn-secondary mt-3"  %>
<%= link_to  "Back to items index", items_path, class: "btn btn-secondary mt-3"  %>
<%= link_to  "Home", root_path, class: "btn btn-secondary mt-3"  %>
