<h1>Warehouse</h1>

<br>
<p> Id number: <%= @warehouse.id %></p>
<p> Location: <%= @warehouse.location %></p>

  <h2>Items in stock</h2>
  <% @warehouse.items.each do |item| %>
    <p>Id# <%= item.id %></p>
    <p>Category: <%= item.category %></p>
  <% end %>
  <%# <%= link_to "Add new item", new_shipmentUPDATETHIS_pallet_path(@warehouse), class: "btn btn-primary mb-3" %>


<%= link_to  "Back to items index", items_path, class: "btn btn-secondary mt-3"  %>
